/**
 * This theme is an example to show how you can create your own.
 */

.xbox-theme .pika-table th {
    color: #186608;
}

.xbox-theme .is-today .pika-button {
    color: #186608;
}

.xbox-theme .is-selected .pika-button {
    color: #fff;
    background: #186608;
    box-shadow: inset 0 1px 3px #186608;
}

.xbox-theme .is-disabled .pika-button {
    color: #00d500;
    opacity: .3;
}

.xbox-theme .pika-button:hover {
    color: #fff !important;
    background: #186608 !important;
}
